div{
    color: red;
    text-align: center;
}
body{
    background-color: gray;
}
p{
    text-align: center;
}
hr{
    border: 10px solid skyblue;
    border-radius: 15px;
    width: 100%;
    height: 20px;
    background: wheat;
}
